<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نموذج طلب دعم فني تقني</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="College Logo" class="logo">
        <nav>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.dashboard') }}">لوحة التحكم</a>:
                <a href="{{ url_for('main.logout') }}">تسجيل خروج</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">تسجيل الدخول</a>
                <a href="{{ url_for('main.signup') }}">تسجيل</a>
            {% endif %}
        </nav>
    </header>
    
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>
</body>
</html>

